body {
    margin: 0px;
    font-family: Arial, sans-serif;
    color: #181818;
}

#mainHeader {
    background-color: rgb(55,58,83);
    font-family: Arial, sans-serif;
    color: white;
    height: 140px;
}

#bloc_page {
    margin-left: 200px;
    margin-right: 200px;
}

aside {
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    width: 220px;
    height: 1000px;
    background-color: rgb(212,213,185);
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: normal;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: normal;
    color: white;
    font-size: 26px;
    margin: 0px;
}

h3 {
    font-family: Arial, sans-serif;
    font-weight: normal;
    color: rgb(88,88,88);
    font-size: 26px;
    margin: 0px;
}

#profil_picture {
    margin-right: 10px;
    float: right;
}

img {
    vertical-align: middle; }

#contact p {
    text-align: justify;
    display:inline-block;
}

#profil, #competence, #langues, #hobbies p {
    padding-right: 5px;
    padding-top: 2px;
}

section {
    padding-left: 5px;
    padding-top: 20px;
}

#formation, #xp, #other_xp {
    display: flex;
    flex-direction: column;
    text-align: justify;
    flex-wrap: wrap-reverse;
    margin-left: 220px;
    color: rgb(89,89,89);
}

#study_1, #study_2, #study_3, #study_4, #xp_1, #xp_2, #xp_3, #other_xp_1, #other_xp_2 {
    display: flex;
}

#timeline_1, #timeline_2, #timeline_3, #timeline_4, #timeline_5, #timeline_6, #timeline_7, #xp_section_1, #xp_section_2, #xp_section_3, #other_xp_section_1, #other_xp_section_2 {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

#list_diota, #list_haulotte, #list_cosy, #list_cours, #list_api, #list_musique {
    margin-left: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 15px;
}

#date_1, #date_2, #date_3, #date_4, #date_5, #date_6, #date_7, #date_8, #date_9 {
    width: 120px;
    margin-bottom: 0px;
}
#loc_1, #loc_2, #loc_3, #loc_4, #loc_5, #loc_6, #loc_7, #loc_8, #loc_9 {
    text-align: justify;
    margin-top: 0px;
    margin-bottom: 0px;
    align-self: flex-start;
    font-size: 12px;
    font-style: italic;
}

#descritpion_1, #descritpion_2, #descritpion_3, #descritpion_4, #descritpion_5, #descritpion_6, .descritpion_7, #descritpion_8, #descritpion_9 {
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}