/*  */
body
{
    background: white;
    font-family: Arial, sans-serif;
    color: #181818;
}

#bloc_page
{
    width: 100%;
    margin-left: 0px;
}

/* Header */
#mainHeader
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-size: 100px 66.66px;
    height: 66.66px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    border-bottom: 2px solid slategrey;
    z-index: 2;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}


#mainHeader h1
{
    font-family: Arial serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 7.5px 130px;
}

/* Body */
section
{
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;
}

#reservation{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 100px;
    margin-right: 200px;
    margin-left: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: slategrey;
    z-index: 2;
}

.form {
    display: block;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
}

form {
    display: flex;
    justify-content: center;
    background-color: slategrey;
    text-align: left;
}

.alert {
    display: none;
}

/**
 * Error color for the validation plugin
 */

.error {
    padding-left: 10px;
    font-size: small;
    z-index: 1;
    color: red;
}
