/*  */
body
{
    background: white;
    font-family: Arial, sans-serif;
    color: #181818;
}

/* Header */

#mainHeader
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-size: 100px 66.66px;
    height: 66.66px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    border-bottom: 2px solid slategrey;
    z-index: 2;
}

#mainHeader h1
{
    font-family: Arial serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 7.5px 130px;
}
/* SLider*/

.slider
{
    width: 450px;
    overflow: hidden;
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.slides
{
    width: calc(450px * 3);
    animation:  slide 10s infinite;
}

@keyframes slide {
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(0);
    }
    33%{
        transform: translateX(-450px);
    }
    43%{
        transform: translateX(-450px);
    }
    66%{
        transform: translateX(-900px);
    }
    76%{
        transform: translateX(-900px);
    }
    100%{
        transform: translateX(0);
    }
}


/* Bannière */
#banniere_image, #banniere_image1, #banniere_image2
{
    width: 450px;
    height: 300px;
    border-radius: 5px;
    display: block;
    position: relative;
    background-size: 100% 100%;
    box-shadow: 0px 4px 4px #1c1a19;
    margin: 5px auto;
    z-index: 1;
    float: left;
}

#banniere_image
{
    background-image: url("../img/mavic-2-pro-blog.jpg");
}

#banniere_image1
{
    background-image: url("../img/motocross.jpg");
}

#banniere_image2
{
    background-image: url("../img/ski.png");
}

#banniere_description, #banniere_description1, #banniere_description2
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgba(24,24,24,0.4);
    color: white;
    font-size: 0.8em;
}

#test{
    background-image: url("../img/profil.png");
}
